@import './variable.scss';
@import './mixins.scss';
@import './atom.scss';

html,
body,
#app,
.app {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: var(--color-bg-primary);
}

body {
  font-family: $font-family;
  font-size: $font-size--body;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-default);
}

body::-webkit-scrollbar {
  display: none;
}

body.select-none {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  :focus {
    outline: none;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-bg-scrollbar);
    width: 8px;
    height: 8px;
  }
}

h1 {
  font-size: $font-size--title;
  @include head-title;
}

h2 {
  font-size: $font-size--subtitle;
  @include head-title;
}

h3 {
  font-size: $font-size--body;
  @include head-title;
}

p {
  font-size: $font-size--body;
  margin: 0px;
}

pre {
  font-size: $font-size--body;
  margin-bottom: 0px;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  word-break: break-word;
}

a {
  color: var(--color-main-green);
  text-decoration: none;
  font-size: $font-size--body;
  outline: none;
}

img {
  max-width: 100%;
}

textarea {
  font-family: $font-family;
}

/* Card form */
.card-form {
  h3 {
    color: var(--color-text-light);
  }
  .info-header {
    @include flex-space-between;
    margin: 0 0 10px 0;
  }
  .item-card {
    margin: 0 0 20px 0;
    position: relative;
    .el-card__body {
      padding: 10px 20px;
    }
  }
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  .el-form {
    .el-form-item {
      margin-bottom: 0px;
    }
    .el-form-item__content {
      line-height: 43px;
    }
    .el-form-item__label {
      line-height: 43px;
      height: 43px;
    }
  }
}

/* Error */
.error {
  color: var(--color-minor-red);
}

/* Titlebar */
.titlebar {
  padding: 16px 0;
  -webkit-app-region: drag;
}

#notify-copilot-button {
  margin: 12px 0 4px 0;
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid var(--color-main-green);
  color: var(--color-main-green);
  border-radius: 4px;
  padding: 0 24px;
  cursor: pointer;
}

// Tabs
.el-tabs {
  .el-tabs__item {
    color: var(--color-text-title);
    &.is-active {
      color: var(--color-main-green);
    }
  }
  .el-tabs__nav-wrap::after {
    background-color: var(--color-border-default);
  }
}
