@import './variable.scss';
@import './mixins.scss';

html, body, #app {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: var(--color-bg-primary);
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI",
    "Microsoft YaHei", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size--body;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-default);
}

body.select-none {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: $font-size--title;
  @include head-title;
}

h2 {
  font-size: $font-size--subtitle;
  @include head-title;
}

h3 {
  font-size: $font-size--body;
  @include head-title;
}

p {
  font-size: $font-size--body;
  margin: 0px;
}

pre {
  font-size: $font-size--body;
  margin-bottom: 0px;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

a {
  color: var(--color-main-green);
  text-decoration: none;
  font-size: $font-size--body;
  outline: none;
}

img {
  max-width: 100%;
}

/* Card form */
.card-form {
  h3 {
    color: var(--color-text-light);
  }
  .info-header {
    @include flex-space-between;
    margin: 0 0 10px 0;
  }
  .item-card {
    margin: 0 0 30px 0;
    position: relative;
    .el-card__body {
      padding: 10px 20px;
    }
  }
  .iconfont {
    font-size: $font-size--title;
  }
  .el-form {
    .el-form-item {
      margin-bottom: 0px;
    }
    .el-form-item__content {
      line-height: 43px;
    }
  }
}

/* Error */
.error {
  color: var(--color-main-red);
}

/* Titlebar */
.titlebar {
  padding: 16px 0;
  -webkit-app-region: drag;
}
