@import './variable.scss';
@import './mixins.scss';

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system, -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI",
    "Microsoft YaHei", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size--body;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $font-size--title;
  @include head-title;
}

h2 {
  font-size: $font-size--subtitle;
  @include head-title;
}

p {
  font-size: $font-size--body;
  color: var(--color-text-default);
}

a {
  color: var(--color-main-green);
  text-decoration: none;
  font-size: $font-size--body;
}

div.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid var(--color-border-default);
}
