.left-list {
  position: fixed;
  box-shadow: 1px 0px 8px 0px var(--color-shadow-leftlist);
  width: 260px;
  height: 100%;
  left: 76px;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 1000;
  border-right: 1px solid var(--color-border-default);
  background-color: var(--color-bg-normal);
  transition: all 0.3s ease-in-out;

  .no-data {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 40%;
    color: var(--color-text-light);
  }
}

.connections {
  height: 100%;
  .connections-view {
    height: 100%;
  }
}

.connection-skeleton-page {
  margin-top: 30px;
  margin-right: 30px;
  overflow-x: hidden;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-enter {
  transform: translateX(-100%);
}
.slide-leave-to {
  transform: translateX(-100%);
}
