@mixin head-title {
  margin: 0px;
  padding: 0px;
  color: var(--color-text-title);
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin msg-item {
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  p {
    margin: 0px;
  }
  .left-info {
    color: var(--color-text-left_info);
  }
  .right-info {
    color: var(--color-text-right_info);
  }
  .topic {
    margin-right: 16px;
  }
  .payload {
    display: inline-block;
    min-height: 41px;
    max-width: 300px;
    min-width: 20px;
    margin: 10px 0;
    padding: 10px;
    white-space: normal;
    word-break: break-all;
  }
  .time {
    color: var(--color-text-light);
  }
}
