@mixin head-title {
  margin: 0px;
  padding: 0px;
  color: var(--color-text-title);
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin msg-item {
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 13px;
    line-height: 1.6;
  }
  p {
    margin: 0px;
  }
  .left-info {
    color: var(--color-text-title);
    font-size: 13px;
    font-weight: 500;
    .qos {
      color: var(--color-text-default);
    }
  }
  .right-info {
    color: var(--color-text-right_info);
  }
  .topic {
    margin-right: 20px;
  }
  .retain {
    margin-left: 16px;
    font-size: 11px;
    color: var(--color-text-active);
    background-color: var(--color-main-yellow);
    padding: 2px 8px;
    border-radius: 8px;
    float: right;
    font-weight: 500;
  }
  .payload {
    display: inline-block;
    min-height: 41px;
    max-width: 85%;
    min-width: 20px;
    margin: 10px 0 0px 0px;
    padding: 14px 16px;
    white-space: normal;
    word-break: break-all;
  }
  .time {
    color: var(--color-text-light);
    margin-bottom: 5px;
    font-size: 12px;
  }
  .properties {
    margin-top: 12px;
    padding-top: 10px;
    &.left {
      color: var(--color-text-default);
    }
    &.right {
      color: var(--color-text-right_info);
    }
  }
  .user-properties {
    margin-top: 12px;
    padding: 10px 0;
    .key-value-editor.msg-item-props {
      .editor-header {
        margin-bottom: 12px;
        .editor-title {
          font-weight: 600;
          font-size: 13px;
        }
      }
      .el-input.is-disabled .el-input__inner {
        background-color: var(--color-bg-msg-input);
      }
    }
    &.left {
      .key-value-editor.msg-item-props {
        .editor-title {
          color: var(--color-text-title);
        }
        .el-input.is-disabled .el-input__inner {
          color: var(--color-text-default);
          border: 1px solid var(--color-border-default);
          background-color: var(--color-bg-msg-input);
        }
      }
    }
    &.right {
      .key-value-editor.msg-item-props {
        .editor-title {
          color: var(--color-text-right_info);
        }
        .el-input.is-disabled .el-input__inner {
          color: var(--color-text-right_info);
          border: 1px solid var(--color-border-right_metainfo);
        }
      }
    }
  }
}

@mixin collapse-btn-transform($top, $bottom) {
  a.collapse-btn {
    transition: all 0.3s;
    display: inline-block;
    &.top {
      transform: rotate($top);
    }
    &.bottom {
      transform: rotate($bottom);
    }
  }
}

@mixin editor-lang-type {
  .lang-type {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0px 12px;
    background: var(--color-bg-select_lang);
    border: 1px solid var(--color-border-default);
    border-top: none;
    text-align: right;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@mixin topic-input__inner {
  .el-input__inner {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid var(--color-border-default);
  }
}

@mixin el-dropdown-menu-common {
  .el-dropdown-menu {
    .iconfont,
    [class^='el-icon-'] {
      font-size: 18px;
      font-weight: 400;
    }
    .el-dropdown-menu__item {
      display: flex;
      align-items: center;
      .iconfont,
      [class^='el-icon-'] {
        margin-right: 10px;
      }
    }
    li.delete-item {
      display: block;
      color: var(--color-minor-red);
      &:hover {
        color: var(--color-minor-red);
        background: var(--color-light-red);
      }
    }
  }
}

@mixin search-highlight {
  .search-highlight {
    background-color: #ffeb3b !important;
    color: #000 !important;
    padding: 1px 2px;
    border-radius: 2px;
    font-weight: bold;
  }
}

@mixin color-picker-item {
  .color-picker-item {
    .el-form-item__content {
      display: flex !important;
      align-items: center !important;
      line-height: normal !important;
      height: 43px !important;
      justify-content: flex-start !important;
    }

    .el-color-picker {
      vertical-align: middle !important;
      margin: 0 !important;
      align-self: center !important;
    }
  }
}
