/* font */
$font-size--body: 14px;
$font-size--title: 18px;
$font-size--subtitle: 16px;
$font-size--tips: 12px;
$font-size--leftbar_title: 20px;
$font-size--send: 24px;

$font-family: system, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Segoe UI', 'Microsoft YaHei',
  'wenquanyi micro hei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
