html.dark {
  /* Backgroud color */
  --color-bg-normal: #262729;
  --color-bg-primary: #212223;
  --color-bg-leftbar_top: #232325;
  --color-bg-leftbar_bottom: #1f2122;
  --color-bg-leftbar_item: #1f2021;
  --color-bg-item: #1f2021;
  --color-bg-item_status: #9ea3b1;
  --color-bg-messagebox: #303133;
  --color-bg-follows: #4a4a4a;
  --color-bg-code: #38404a;
  --color-bg-select_lang: #37363d80;
  --color-bg-popover: #fff;
  --color-bg-dark: #131415d9;
  --color-bg-unreadmsg: #1c1f22e8;
  --color-bg-historybtn: #393a3c;
  --color-bg-scrollbar: #ffffff33;
  --color-bg-skeleton: #464646;
  --color-bg-skeleton_transition: #252525;
  --color-bg-card-normal: #34363c;
  --color-bg-card-gradient: linear-gradient(33deg, #27393c 0%, #2c2f3e 100%);
  --color-bg-btn-gradient: linear-gradient(90deg, #35c98d 0%, #37dc85 100%);
  --color-bg-tags: #262729;

  /* Font color */
  --color-text-title: #fff;
  --color-text-default: #d3d3d3;
  --color-text-light: #a3a3a3;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #484848;
  --color-text-right_info: #959599;
  --color-text-left_info: #959599;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #868787;
  --color-text-historybtn: #fff;
  --color-text-historybtn_disabled: #6f6f6f;
  --color-text-card_icon: #eaebec;
  --color-text-tags: #d3d3d3;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #323232;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #383838;
  --color-border-bold: #969696;
  --color-border-leftbar: #2f2f2f;
  --color-border-left_metainfo: #676767;
  --color-border-right_metainfo: #ffffff59;

  /* Shadow color */
  --color-shadow-leftlist: #00000061;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #00000059;
  --color-shadow-message: #1f1f1f;
}
