html.night {
  /* Backgroud color */
  --color-bg-normal: #292b33;
  --color-bg-primary: #212328;
  --color-bg-leftbar_top: #292b33;
  --color-bg-leftbar_bottom: #212328;
  --color-bg-leftbar_item: #394452;
  --color-bg-item: #31333f;
  --color-bg-item_status: #9ea3b1;
  --color-bg-messagebox: #31333f;
  --color-bg-follows: #393a42;
  --color-bg-code: #4f5965;
  --color-bg-select_lang: #262529b3;
  --color-bg-popover: #fff;
  --color-bg-dark: #0052cc6b;
  --color-bg-unreadmsg: #34c388;
  --color-bg-historybtn: #4d535b;
  --color-bg-scrollbar: #ffffff33;
  --color-bg-skeleton: #292b33;
  --color-bg-skeleton_transition: #212328;
  --color-bg-card-normal: #323e4f;
  --color-bg-card-gradient: linear-gradient(33deg, #263e4b 0%, #2b344d 100%);
  --color-bg-btn-gradient: linear-gradient(90deg, #35c98d 0%, #37dc85 100%);
  --color-bg-tags: #262729;
  --el-bg-color-overlay: var(--color-bg-normal);

  /* Font color */
  --color-text-title: #fff;
  --color-text-default: #d3d3d3;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #1b1d20;
  --color-text-right_info: #b4b4b4;
  --color-text-left_info: #959599;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #83929b;
  --color-text-historybtn: #fff;
  --color-text-historybtn_disabled: #9d9fa0;
  --color-text-card_icon: #eaebec;
  --color-text-tags: #d3d3d3;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #292a33;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #40414e;
  --color-border-bold: #4f5367;
  --color-border-leftbar: transparent;
  --color-border-left_metainfo: #ffffff61;
  --color-border-right_metainfo: #ffffff54;
  --el-border-color-light: var(--color-border-default);

  /* Shadow color */
  --color-shadow-leftlist: #00000061;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #00000085;
  --color-shadow-message: #151515;
}
