body.dark {
  /* backgroud */
  --color-bg-primary: #747272;
  --color-bg-tabs: #F8F8F8;
  --color-bg-tabs_hover: #F8F8F8;
  /* font color */
  --color-text-title: #262626;
  --color-text-default: #616161;
  --color-text-light: #A2A9B0;
  --color-text-tips: #B4B4B4;
}
