body.light {
  /* Backgroud color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #f9fafd;
  --color-bg-topics: #f8f8f8;
  --color-bg-topics_active: #efefef;
  --color-bg-topics_shadow: #e2e2e2d1;
  --color-bg-leftbar: #333844;
  --color-bg-leftbar_item: #232731;
  --color-bg-item: #ebf8f2;
  --color-bg-item_status: #9ea3b1;
  --color-bg-input: #ffffff;
  --color-bg-messagebox: #ffffff;
  --color-bg-follows: #efefef;
  --color-bg-code: #e6eef7;
  --color-bg-input_btn: #f5f7fa;
  --color-bg-radio: #f6f7fb;

  /* Font color */
  --color-text-title: #262626;
  --color-text-default: #616161;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #34c388;
  --color-text-right_info: #ade7cf;
  --color-text-left_info: #959599;

  /* Accent color */
  --color-main-green: #34c388;
  --color-second-green: #53daa2;
  --color-thrid-green: #ebf8f2;
  --color-main-red: #e86aa6;
  --color-second-red: #f56c6c;
  --color-third-red: #fcdee4;
  --color-main-grey: #e9eaf0;
  --color-main-yellow: #e6a23cb3;

  /* Border color */
  --color-border-default: #e6e8f1;
  --color-border-bold: #979797;
  --color-shadow-card: #0000001a;
  --color-shadow-message: #dcdcdc;
}
