body.light {
  /* Backgroud color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #F9FAFD;
  --color-bg-tabs: #F8F8F8;
  --color-bg-tabs_hover: #F8F8F8;
  --color-bg-connection_item: #EBF8F2;
  --color-bg-connection_status: #9EA3B1;

  /* Font color */
  --color-text-title: #262626;
  --color-text-default: #616161;
  --color-text-light: #A2A9B0;
  --color-text-tips: #B4B4B4;

  /* Accent color */
  --color-main-green: #34C388;
  --color-main-red: #E86AA6;

  /* Border color */
  --color-border-default: #E6E8F1;
}
