body.light {
  /* Backgroud color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #F9FAFD;
  --color-bg-topics: #F8F8F8;
  --color-bg-leftbar: #333844;
  --color-bg-leftbar_item: #232731;
  --color-bg-item: #EBF8F2;
  --color-bg-item_status: #9EA3B1;
  --color-bg-input: #ffffff;
  --color-bg-messagebox: #ffffff;
  --color-bg-follows: #efefef;

  /* Font color */
  --color-text-title: #262626;
  --color-text-default: #616161;
  --color-text-light: #A2A9B0;
  --color-text-tips: #B4B4B4;
  --color-text-right_block: #34C388;
  --color-text-right_info: #ADE7CF;
  --color-text-left_info: #959599;

  /* Accent color */
  --color-main-green: #34C388;
  --color-second-green: #53DAA2;
  --color-thrid-green: #EBF8F2;
  --color-main-red: #E86AA6;
  --color-second-red: #EF607C;
  --color-main-grey: #E9EAF0;

  /* Border color */
  --color-border-default: #E6E8F1;
  --color-border-bold: #979797;
  --color-shadow-card: #0000001a;
}
