body.light {
  /* Backgroud color */
  --color-bg-normal: #fff;
  --color-bg-primary: #f9fafd;
  --color-bg-leftbar_top: #2e424a;
  --color-bg-leftbar_bottom: #212b3b;
  --color-bg-leftbar_item: #394452;
  --color-bg-item: #f1f8fc;
  --color-bg-item_status: #9ea3b1;
  --color-bg-messagebox: #fff;
  --color-bg-follows: #efefef;
  --color-bg-code: #e7eff9;
  --color-bg-select_lang: #f6f7fb;
  --color-bg-popover: #303133f0;
  --color-bg-dark: #082537e8;
  --color-bg-unreadmsg: #082537e8;
  --color-bg-historybtn: #dfefe7;

  /* Font color */
  --color-text-title: #222b3b;
  --color-text-default: #616161;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #34c388;
  --color-text-right_info: #ffffffde;
  --color-text-left_info: #00000075;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #83929b;
  --color-text-historybtn: #25465f;
  --color-text-historybtn_disabled: #c0c4cc;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-main-red: #e86aa6;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #edeef3;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #e6e8f1;
  --color-border-bold: #979797;
  --color-border-rightbar: transparent;

  /* Shadow color */
  --color-shadow-leftlist: #5b769438;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #0000001a;
  --color-shadow-message: #dcdcdc;
}
