body.night {
  /* Backgroud color */
  --color-bg-normal: #292b33;
  --color-bg-primary: #212328;
  --color-bg-leftbar_top: #2e424a;
  --color-bg-leftbar_bottom: #212b3b;
  --color-bg-leftbar_item: #31333f;
  --color-bg-item: #31333f;
  --color-bg-item_status: #9ea3b1;
  --color-bg-messagebox: #31333f;
  --color-bg-follows: #393a42;
  --color-bg-code: #4f5965;
  --color-bg-select_lang: #262529b3;
  --color-bg-popover: #fff;
  --color-bg-dark: #082537e8;
  --color-bg-historybtn: #dfefe7;

  /* Font color */
  --color-text-title: #fff;
  --color-text-default: #d3d3d3;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #1b1d20;
  --color-text-right_info: #b4b4b4;
  --color-text-left_info: #959599;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #83929b;
  --color-text-historybtn: #25465f;
  --color-text-historybtn_disabled: #c0c4cc;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-main-red: #e86aa6;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #292a33;
  --color-main-yellow: #e6a23cb3;

  /* Border color */
  --color-border-default: #40414e;
  --color-border-bold: #4f5367;

  /* Shadow color */
  --color-shadow-leftlist: #5b769438;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #00000085;
  --color-shadow-message: #151515;
}
