body.night {
  /* Backgroud color */
  --color-bg-normal: #292b33;
  --color-bg-primary: #212328;
  --color-bg-topics: #414556;
  --color-bg-topics_active: #324a74;
  --color-bg-topics_shadow: #231d1dd1;
  --color-bg-leftbar: #333844;
  --color-bg-leftbar_item: #31333f;
  --color-bg-item: #31333f;
  --color-bg-item_status: #9ea3b1;
  --color-bg-input: #31333f;
  --color-bg-messagebox: #31333f;
  --color-bg-follows: #393a42;
  --color-bg-code: #4f5965;
  --color-bg-input_btn: transparent;
  --color-bg-radio: #262529b3;

  /* Font color */
  --color-text-title: #ffffff;
  --color-text-default: #d3d3d3;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #1b1d20;
  --color-text-right_info: #b4b4b4;
  --color-text-left_info: #959599;
  --color-text-topics_active: #ffffff;

  /* Accent color */
  --color-main-green: #34c388;
  --color-second-green: #53daa2;
  --color-thrid-green: #ebf8f2;
  --color-main-red: #e86aa6;
  --color-second-red: #f56c6c;
  --color-third-red: #fcdee4;
  --color-main-grey: #292a33;
  --color-main-yellow: #e6a23cb3;

  /* Border color */
  --color-border-default: #40414e;
  --color-border-bold: #4f5367;
  --color-shadow-card: #00000085;
  --color-shadow-message: #151515;
}
