body.purple {
  /* Backgroud color */
  --color-bg-normal: #292B33;
  --color-bg-primary: #212328;
  --color-bg-topics: #414556;
  --color-bg-leftbar_item: #31333F;
  --color-bg-item: #31333F;
  --color-bg-item_status: #9EA3B1;
  --color-bg-input: #31333F;
  --color-bg-messagebox: #31333F;

  /* Font color */
  --color-text-title: #ffffff;
  --color-text-default: #d3d3d3;
  --color-text-light: #A2A9B0;
  --color-text-tips: #B4B4B4;
  --color-text-right_block: #1B1D20;
  --color-text-right_info: #B4B4B4;
  --color-text-left_info: #959599;

  /* Accent color */
  --color-main-green: #34C388;
  --color-second-green: #53DAA2;
  --color-thrid-green: #EBF8F2;
  --color-main-red: #E86AA6;
  --color-second-red: #EF607C;
  --color-main-grey: #292A33;

  /* Border color */
  --color-border-default: #40414E;
  --color-border-bold: #4F5367;
  --color-shadow-card: #00000085;
}
