/* Divider */
.el-divider {
  background-color: var(--color-border-default);
}

/* Radio */
.el-radio-button {
  margin-right: -2px;
}
.el-radio-button--mini .el-radio-button__inner {
  background: transparent;
  border: 2px solid var(--color-border-bold);
  width: 90px;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: var(--color-bg-connection_item);
  color: var(--color-main-green);
  border: 2px solid var(--color-main-green) !important;
  z-index: 1;
  box-shadow: none;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-left: 2px solid var(--color-border-bold);
}

/* Card */
.el-card {
  border: 1px solid #E6E8F1;
}

/* Form */
.el-form {
  .el-form-item__label {
    color: var(--color-text-default);
  }
  .el-form-item__content {
    span {
      color: var(--color-text-title);
    }
  }
  .el-select {
    width: 100%;
  }
}

/* Icon */
[class^="el-icon-"],
[class*=" el-icon-"] {
  font-weight: 600;
}

/* Button */
.el-button--outline {
  background: var(--color-bg-normal);
  border: 2px solid var(--color-main-green);
  color: var(--color-main-green);
}

/* Cascader */
.el-cascader {
  width: 100%;
}
