@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variable.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  :focus {
    outline: none;
  }
}

body {
  font-family: $font-family;
  font-size: $font-size--body;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app,
.app {
  height: 100%;
}

@import "./normalize.scss";
@import "./connections.scss";

.layout {
  display: flex;
  .main-view {
    flex: 1;
  }
}
