/* Container */
.el-container {
  height: 100vh;
  .el-main {
    --el-main-padding: 0px;
  }
}

/* Dialog */
.el-dialog {
  --el-dialog-border-radius: 8px !important;
  --el-dialog-bg-color: var(--color-bg-normal) !important;
}
