@use 'element-plus/theme-chalk/dark/css-vars.css' as *;
@use './themes/light.scss' as *;
@use './themes/dark.scss' as *;
@use './themes/night.scss' as *;

/* Element UI CSS Vars Colors */
html.light,
html.dark,
html.night {
  --el-color-primary: var(--color-main-green);
  --el-color-primary-light-3: #34c387e0;
  --el-color-primary-light-5: #34c387b6;
  --el-color-primary-light-7: #34c3878d;
  --el-color-primary-light-8: #34c38763;
  --el-color-primary-light-9: #34c3873c;
  --el-color-primary-dark-2: #2dad78;
  --el-color-success: var(--color-main-green);
  --el-color-warning: var(--color-main-yellow);
  --el-color-danger: var(--color-minor-red);
  --el-color-error: var(--color-minor-red);
}

html.night {
  color-scheme: night;
}
