body.light {
  /* Backgroud color */
  --color-bg-normal: #ffffff;
  --color-bg-primary: #f9fafd;
  --color-bg-topics: #f8f8f8;
  --color-bg-topics_active: #efefef;
  --color-bg-topics_shadow: #e2e2e2d1;
  --color-bg-leftbar_top: #2e424a;
  --color-bg-leftbar_bottom: #212b3b;
  --color-bg-leftbar_item: #394452;
  --color-bg-item: #f1f8fc;
  --color-bg-item_status: #9ea3b1;
  --color-bg-input: #ffffff;
  --color-bg-messagebox: #ffffff;
  --color-bg-follows: #efefef;
  --color-bg-code: #e6eef7;
  --color-bg-input_btn: #f5f7fa;
  --color-bg-radio: #f6f7fb;
  --color-bg-card-normal: #edf4fc;
  --color-bg-card-gradient: linear-gradient(33deg, #e5fafc 0%, #eceeff 100%);
  --color-bg-btn-gradient: linear-gradient(90deg, #35c98d 0%, #37dc85 100%);

  /* Font color */
  --color-text-title: #262626;
  --color-text-default: #616161;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #34c388;
  --color-text-right_info: #ade7cf;
  --color-text-left_info: #00000075;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #83929b;
  --color-text-historybtn: #25465f;
  --color-text-historybtn_disabled: #c0c4cc;
  --color-text-card_icon: #2f4852;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-main-red: #e86aa6;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #e9eaf0;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #e6e8f1;
  --color-border-bold: #979797;
  --color-shadow-card: #0000001a;
  --color-shadow-message: #dcdcdc;

  /* Shadow color */
  --color-shadow-leftlist: #5b769438;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #0000001a;
  --color-shadow-message: #dcdcdc;
}
