body.night {
  /* Backgroud color */
  --color-bg-normal: #292b33;
  --color-bg-primary: #212328;
  --color-bg-topics: #414556;
  --color-bg-topics_active: #323544;
  --color-bg-topics_shadow: #231d1dd1;
  --color-bg-leftbar_top: #292b33;
  --color-bg-leftbar_bottom: #212328;
  --color-bg-leftbar_item: #394452;
  --color-bg-item: #31333f;
  --color-bg-item_status: #9ea3b1;
  --color-bg-input: #31333f;
  --color-bg-messagebox: #31333f;
  --color-bg-follows: #393a42;
  --color-bg-code: #4f5965;
  --color-bg-input_btn: transparent;
  --color-bg-radio: #262529b3;
  --color-bg-select_lang: #262529b3;
  --color-bg-popover: #fff;
  --color-bg-dark: #0052cc6b;
  --color-bg-unreadmsg: #34c388;
  --color-bg-historybtn: #4d535b;
  --color-bg-scrollbar: #ffffff33;
  --color-bg-skeleton: #292b33;
  --color-bg-skeleton_transition: #212328;
  --color-bg-card-normal: #323e4f;
  --color-bg-card-gradient: linear-gradient(33deg, #263e4b 0%, #2b344d 100%);
  --color-bg-btn-gradient: linear-gradient(90deg, #35c98d 0%, #37dc85 100%);

  /* Font color */
  --color-text-title: #ffffff;
  --color-text-default: #d3d3d3;
  --color-text-light: #a2a9b0;
  --color-text-tips: #b4b4b4;
  --color-text-right_block: #1b1d20;
  --color-text-right_info: #b4b4b4;
  --color-text-left_info: #959599;
  --color-text-active: #fff;
  --color-text-leftbar_icon: #83929b;
  --color-text-historybtn: #fff;
  --color-text-historybtn_disabled: #9d9fa0;
  --color-text-card_icon: #eaebec;

  /* Accent color */
  --color-main-green: #34c388;
  --color-minor-green: #53daa2;
  --color-light-green: #ebf8f2;
  --color-minor-red: #f56c6c;
  --color-light-red: #fcdee4;
  --color-main-grey: #292a33;
  --color-main-yellow: #e6a23cb3;
  --color-main-white: #fff;

  /* Border color */
  --color-border-default: #40414e;
  --color-border-bold: #4f5367;
  --color-border-rightbar: transparent;
  --color-border-left_metainfo: #ffffff61;
  --color-border-right_metainfo: #ffffff54;

  /* Shadow color */
  --color-shadow-leftlist: #00000061;
  --color-shadow-sendbtn: #2dc17769;
  --color-shadow-card: #00000085;
  --color-shadow-message: #151515;

  /*
   * Night Owl highlight.js theme
   * (c) Carl Baxter, MIT License
   * Adapted from Sarah Drasner's Night Owl VS Code Theme
   * https://github.com/highlightjs/highlight.js/blob/main/src/styles/night-owl.css
   */
  .hljs {
    color: #d6deeb;
  }

  /* General Purpose */
  .hljs-keyword {
    color: #c792ea;
    font-style: italic;
  }
  .hljs-built_in {
    color: #addb67;
    font-style: italic;
  }
  .hljs-type {
    color: #82aaff;
  }
  .hljs-literal {
    color: #ff5874;
  }
  .hljs-number {
    color: #F78C6C;
  }
  .hljs-regexp {
    color: #5ca7e4;
  }
  .hljs-string {
    color: #ecc48d;
  }
  .hljs-subst {
    color: #d3423e;
  }
  .hljs-symbol {
    color: #82aaff;
  }
  .hljs-class {
    color: #ffcb8b;
  }
  .hljs-function {
    color: #82AAFF;
  }
  .hljs-title {
    color: #DCDCAA;
    font-style: italic;
  }
  .hljs-params {
    color: #7fdbca;
  }

  /* Meta */
  .hljs-comment {
    color: #637777;
    font-style: italic;
  }
  .hljs-doctag {
    color: #7fdbca;
  }
  .hljs-meta {
    color: #82aaff;
  }
  .hljs-meta .hljs-keyword {

    color: #82aaff;
  }
  .hljs-meta .hljs-string {
    color: #ecc48d;
  }

  /* Tags, attributes, config */
  .hljs-section {
    color: #82b1ff;
  }
  .hljs-tag,
  .hljs-name {
    color: #7fdbca;
  }
  .hljs-attr {
    color: #7fdbca;
  }
  .hljs-attribute {
    color: #80cbc4;
  }
  .hljs-variable {
    color: #addb67;
  }

  /* Markup */
  .hljs-bullet {
    color: #d9f5dd;
  }
  .hljs-code {
    color: #80CBC4;
  }
  .hljs-emphasis {
    color: #c792ea;
    font-style: italic;
  }
  .hljs-strong {
    color: #addb67;
    font-weight: bold;
  }
  .hljs-formula {
    color: #c792ea;
  }
  .hljs-link {
    color: #ff869a;
  }
  .hljs-quote {
    color: #697098;
    font-style: italic;
  }

  /* CSS */
  .hljs-selector-tag {
    color: #ff6363;
  }

  .hljs-selector-id {
    color: #fad430;
  }

  .hljs-selector-class {
    color: #addb67;
    font-style: italic;
  }

  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #c792ea;
    font-style: italic;
  }

  /* Templates */
  .hljs-template-tag {
    color: #c792ea;
  }
  .hljs-template-variable {
    color: #addb67;
  }

  /* diff */
  .hljs-addition {
    color: #addb67ff;
    font-style: italic;
  }

  .hljs-deletion {
    color: #EF535090;
    font-style: italic;
  }
}
