name: deploy web

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
    - name: use node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.15
    - uses: actions/checkout@v2
    - name: set env
      run: |
        cd web
        echo "VUE_APP_PAGE_TITLE=Easy-to-Use Online MQTT Client | Try Now" > .env.local
        echo "VUE_APP_PAGE_DESCRIPTION=Online MQTT 5.0 client on the web, using MQTT over WebSocket to connect to the MQTT Broker and test message publishing and receiving in the browser." >> .env.local
    - name: build
      run: |
        cd web
        yarn && yarn build
    - name: upload dist
      run: |
        cd web
        wget http://gosspublic.alicdn.com/ossutil/1.7.8/ossutil64
        chmod 755 ./ossutil64
        ./ossutil64 config -e https://oss-accelerate.aliyuncs.com -i ${{ secrets.ALI_OSS_ACCESSKEY_ID }} -k ${{ secrets.ALI_OSS_ACCESSKEY_SECRET }} -L CH
        ./ossutil64 cp -r dist/ oss://emqx-io-docs/ -u
